@keyframes enter {
    0% {
        transform: rotate(-20deg) translate(350px) translate3d(0, 0, 0);
    }
    
    40% {
        transform: rotate(-20deg) translate(0px) translate3d(0, 0, 0);
    }

    42% {
        transform: rotate(-20deg) translate(0px) translate3d(-1px, 0, 0);
    }

    44% {
        transform: rotate(-20deg) translate(0px) translate3d(2px, 0, 0);
    }

    46% {
        transform: rotate(-20deg) translate(0px) translate3d(-4px, 0, 0);
    }

    48% {
        transform: rotate(-20deg) translate(0px) translate3d(4px, 0, 0);
    }

    50% {
        transform: rotate(-20deg) translate(0px) translate3d(-1px, 0, 0);
    }

    52% {
        transform: rotate(-20deg) translate(0px) translate3d(2px, 0, 0);
    }

    54% {
        transform: rotate(-20deg) translate(0px) translate3d(-4px, 0, 0);
    }

    56% {
        transform: rotate(-20deg) translate(0px) translate3d(4px, 0, 0);
    }

    80% {
        transform: rotate(-20deg) translate(350px) translate3d(0, 0, 0);
    }

    99% {
        transform: rotate(-20deg) translate(0px) translate3d(0, 0, 0);
    }
}

