:root {
    --standard-color: #B8B8B8;
    --strong-color: #232323;
    --main-color: #3590F3;
    --secondary-color: #62BFED;
    --accent-color: #C2BBF0;
    --minor-color: #F1E3F3;
    --on-color: white;
}